@import 'functions';
$bannerBlue: rgb(71, 68, 228);





* {
    margin:0;
    padding:0;
}

img {
    width: 50px;
}

.navbar {
    @include flexgeneral(center);
   
    
    .container {
        width: 80%;
        flex-direction: row;
        @include roundCornersBottom(5px);
        button {
            
            @include margin-lr (10px);
        }
        background-color: $bannerBlue;
    }
}

body {

    background-image: url("background.png");
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include roundCornersBottom(5px);
    background-color: $bannerBlue;
    width: 100%;
    height: 10vh;
    
    .logo {
        width: 500px;
        margin-bottom: auto;
        margin-top: auto;
    }
    p {
        color:white;
        font-size: xx-large;
        font-family: arial;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.item {
    display: flex;
    justify-content:left;
    flex-direction: column;
    @include menyText();
    header {
        background-color: $bannerBlue;
        @include menyText();
        @include roundCornersBottom(5px);
    }
    p {
        background-color: chartreuse;
        @include defaultText();
    }
}

main {

    background-color: white;
    width: 60vw;
    height: 100vh;
}