@import 'functions';
@import 'variables';






* {
    margin:0;
    padding:0;
}

img {
    width: 50px;
}

#navbar {
    @include flexgeneral(center);
    
    
    .container {
        @include flexgeneral(center);
        width: 80%;
        flex-direction: row;
        @include roundCornersBottom(5px);
        background-color: $bannerBlue;
        .navButton {
            @include defaultText;
            border-radius: 2px;
            margin-bottom: 3px;
            padding:3px;
            background-color: white;
            @include margin-lr (10px);
        }
        
    }
}

.sticky {
    position: fixed; // Navbaren får denhär klassen när användaren skrollar ner tillräckligt mycket
    top: 0 ;
    width: 100%;
}
.sticky + .content {
    padding-top: 25px; // Ser till at hemsidan inte hoppar till när navbaren fassnar.
}


body {

    background-image: url("background.png"); // Ger hemsidan en stillastående bakgrundsbilld.
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner {
    
    margin-bottom: -1px; // Tar bort vita streck mellan bannern och navbaren
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include roundCornersBottom(5px);
    background-color: $bannerBlue;
    width: 100%;
    height: 10vh;
    img {
        margin: 5px;
    }
    .logo {
        width: 500px;
        margin-bottom: auto;
        margin-top: auto;
    }
    p {
        color:white;
        font-size: xx-large;
        font-family: arial;
    }
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.item {
    display: flex;
    justify-content:left;
    flex-direction: column;
    padding-bottom: 20px;
    @include menyText();
    header {
        margin-top:-1px; // Tar bort vita streck mellan headern och navbaren.
        background-color: $bannerBlue;
        @include menyText();
        @include roundCornersBottom(5px);
    }
    p {
        margin-top: 20px;
        @include defaultText();
    }
}

main {

    background-color: white;
    width: 60vw;
    height: 100vh;
}
