@mixin flexgeneral($orientation){
    display: flex;
    justify-content: $orientation;
}

@mixin autoMargin() {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}